.card-settings-popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.399);
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-form {
    background-color: #f4f5f7;
    width: 80%;
    max-width: 50rem;
    max-height: 100rem;
    height: 80vh;
    position: relative;
    border-radius: var(--container-radius);
}

.popup-x-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}